@font-face {
  font-family: 'MyFont';
  src: url('./fonts/ZCOOLKuaiLe-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.hello {
  color: lightcyan;
  width: 100px;
  height: 100px;
  font-family: 'MyFont';
  background: url(./sample.jpg);
  background-size: cover;
  background-position: center;
}

.title {
  color: lightcoral;
  font-family: 'MyFont';
}